In [1]:
import pickle

import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry
from bs4 import BeautifulSoup

import plotly.graph_objects as go

import pandas as pd

from datetime import datetime, timedelta

In [2]:
# All_fight_data = [Events] Ordered from old -> new.
    # Event = [Fights, Date, Venue]
        # Fight = [Fighter1, Fighter2, Result]
            # Fighter1, Fighter2 = [Name, Total, Strikes]
                # Totals = [Total, First, Second, Third, Fourth, Fifth]
                    # Total, First, etc = [Knockdowns, Takedowns, Reversals, Submission Attempted, Control Time]
                        # Takedowns = [Landed, Attempted]
                # Strikes = [Total, First, Second, Third, Fourth, Fifth]
                    # Total, First, etc = [Significant Strikes, Head, Body, Leg, Distance, Clinch, Ground]
                        # Everything = [Landed, Attempted]
            # Result = [Winner, Method, Round, Time, Referee, Weight, Bonus, Details]

In [80]:
save_data(all_f_data, 'all_f_data')
save_data(all_r_data, 'all_r_data')

In [3]:
def open_data(name):
    with open(name, "rb") as fp:
        return pickle.load(fp)

In [4]:
def save_data(data, name):
    with open(name, "wb") as fp:
        pickle.dump(data, fp)

In [5]:
def all_fighter_names(data):
    all_names = []
    for event in data:
        for fight in event[0]:
            if fight[0][0] not in all_names:
                all_names.append(fight[0][0])
                
            if fight[1][0] not in all_names:
                all_names.append(fight[1][0])
    return all_names

In [6]:
def all_referee_names(data):
    all_names = []
    for event in data:
        for fight in event[0]:
            if fight[2][4] not in all_names:
                all_names.append(fight[2][4])
    
    return all_names

In [72]:
def convert_date(date):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    month = date.split(' ')[0]
    month = months.index(month) + 1
    
    day = int(date.split(',')[0].split(' ')[1])
    year = int(date.split(', ')[1])
    date = datetime(year, month, day)
    return date

In [82]:
weight = ["Heavyweight", "Light Heavyweight", "Middleweight", "Welterweight", "Lightweight", "Featherweight", 
          "Bantamweight", "Flyweight", "Women's Bantamweight", "Women's Strawweight", "Women's Flyweight", 
          "Women's Featherweight", "Open Weight", "Super Heavyweight", "Catch Weight"]

def fighter_data(data, name):
# structure_f = ["Name", "Date", "Winlose Score","Finish Score", "Finish Rate", "KO/TKO", "Submission", "Decision", "Wins", "Losses", "Draws/NCs",
# 			   "Knockdowns", "Takedowns Landed", "Takedowns Attempted", "Reversals", "Submission Attempted", "Control Time", "Weight"]

    # count = ["Winlose Score","Finish Score", "Finish Rate", ko, submission, decision, wins, losses, draws, knockdowns, 
    #          takedowns landed, takedowns attempted, reversals, submission attempted, control time, weight]
    count = [0 for i in range(16)]
    count[14] = timedelta()
    count[15] = 'Unspecified'
    all_data = []
    
    for event in data:
        for fight in event[0]:
            winner = fight[2][0]

            fighters = [fight[0][0], fight[1][0]]
            if name in fighters:
                index = fighters.index(name)
                print(fight[index][1])
                if fight[index][1] != []:
                    total = fight[index][1][0]
                    
                    if fight[2][1] == 'KO/TKO':
                        count[2] += 1
                    elif fight[2][1] == 'Submission':
                        count[2] += 1
                    else:
                        count[2] -= 1

                    count[9] += total[0]
                    count[10] += total[1][0]
                    count[11] += total[1][0]
                    count[12] += total[2]
                    count[13] += total[3]
                    
                    for w in weight[::-1]:
                        if w in fight[2][5]:
                            count[15] = w
                            break
                            
                    if count[15] not in weight:
                        count[15] = 'Unspecified'

                    if total[4] != '--':
                        time = datetime.strptime(total[4], '%M:%S').time()
                    else:
                        time = datetime.strptime('00:00', '%M:%S').time()
                    
                    delta = timedelta(minutes=time.minute, seconds=time.second)
                    count[14] += delta
                    

                if fight[winner][0] == name:
                    count[0] += 1
                    count[6] += 1

                    if fight[2][1] == 'KO/TKO':
                        count[3] += 1
                        count[1] += 1
                    elif fight[2][1] == 'Submission':
                        count[4] += 1
                        count[1] += 1
                    else:
                        count[5] += 1
                        count[1] -= 1

                elif winner == 2:
                    count[8] += 1
                else:
                    count[0] -= 1
                    count[7] += 1
                
                data = [name, convert_date(event[1])] + count
                all_data.append(data)
    
    return all_data

fighter_data(all_fight_data, 'Jon Jones ')

[[0, [2, 5], 0, 0, '4:16'], [0, [1, 2], 0, 0, '0:57'], [0, [0, 1], 0, 0, '0:50'], [0, [1, 2], 0, 0, '2:29']]
[[1, [7, 10], 0, 0, '4:09'], [1, [4, 6], 0, 0, '1:18'], [0, [3, 4], 0, 0, '1:35'], [0, [0, 0], 0, 0, '1:16']]
[[0, [0, 0], 1, 0, '0:34'], [0, [0, 0], 0, 0, '0:10'], [0, [0, 0], 1, 0, '0:24']]
[[0, [1, 1], 0, 0, '1:24'], [0, [1, 1], 0, 0, '1:24']]
[[0, [2, 3], 0, 0, '2:43'], [0, [2, 3], 0, 0, '2:43']]
[[0, [1, 1], 0, 0, '0:54'], [0, [1, 1], 0, 0, '0:54']]
[[0, [2, 2], 3, 0, '4:22'], [0, [1, 1], 1, 0, '3:38'], [0, [1, 1], 2, 0, '0:44']]
[[1, [3, 3], 0, 0, '7:50'], [0, [1, 1], 0, 0, '3:18'], [0, [1, 1], 0, 0, '2:47'], [1, [1, 1], 0, 0, '1:45']]
[[0, [2, 6], 2, 0, '3:32'], [0, [0, 2], 0, 0, '1:44'], [0, [0, 1], 1, 0, '0:12'], [0, [1, 2], 0, 0, '0:58'], [0, [1, 1], 1, 0, '0:38']]
[[1, [1, 2], 1, 0, '1:27'], [0, [0, 0], 0, 0, '0:00'], [1, [1, 2], 1, 0, '1:27']]
[[0, [1, 2], 0, 0, '1:00'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:17'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 1], 0, 0, '0:00'], [0, [1, 1], 0, 0, '0:43']]
[[1, [1, 1], 1, 0, '9:25'], [0, [1, 1], 0, 0, '4:31'], [0, [0, 0], 0, 0, '1:37'], [1, [0, 0], 0, 0, '3:00'], [0, [0, 0], 1, 0, '0:17']]
[[0, [3, 6], 0, 0, '4:06'], [0, [3, 6], 0, 0, '4:06']]
[[0, [1, 11], 0, 0, '0:59'], [0, [0, 3], 0, 0, '0:05'], [0, [0, 3], 0, 0, '0:06'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 3], 0, 0, '0:23'], [0, [1, 2], 0, 0, '0:25']]
[[0, [3, 6], 2, 0, '5:51'], [0, [1, 2], 2, 0, '0:12'], [0, [0, 1], 0, 0, '0:23'], [0, [0, 1], 0, 0, '1:52'], [0, [1, 1], 0, 0, '1:46'], [0, [1, 1], 0, 0, '1:38']]
[[0, [3, 5], 0, 0, '6:50'], [0, [1, 1], 0, 0, '0:28'], [0, [0, 1], 0, 0, '1:01'], [0, [0, 1], 0, 0, '0:31'], [0, [2, 2], 0, 0, '2:34'], [0, [0, 0], 0, 0, '2:16']]
[[0, [3, 5], 0, 0, '3:55'], [0, [0, 1], 0, 0, '0:04'], [0, [0, 1], 0, 0, '0:14'], [0, [0, 0], 0, 0, '0:01'], [0, [2, 2], 0, 0, '2:23'], [0, [1, 1], 0, 0, '1:13']]
[[0, [1, 5], 0, 0, '1:29'], [0, [0, 3], 0, 0, '0:00'], [0, [0, 1], 0, 0, '0:00'], [0, [1, 1], 0, 0, '1:29']]
[[0, [3, 8], 0, 0, '12:59'], [0, [0, 1], 0, 0, '0:40'], [0, [0, 1], 0, 0, '0:45'], [0, [1, 2], 0, 0, '4:21'], [0, [2, 2], 0, 0, '3:39'], [0, [0, 2], 0, 0, '3:34']]
[[0, [0, 1], 0, 0, '0:00'], [0, [0, 1], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:00']]
[[0, [2, 9], 0, 0, '1:41'], [0, [0, 2], 0, 0, '0:00'], [0, [0, 0], 0, 0, '0:00'], [0, [0, 2], 0, 0, '0:15'], [0, [1, 3], 0, 0, '0:55'], [0, [1, 2], 0, 0, '0:31']]

[['Jon Jones ',
  datetime.datetime(2008, 8, 9, 0, 0),
  1,
  -1,
  -1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  2,
  2,
  0,
  0,
  datetime.timedelta(seconds=256),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2009, 1, 31, 0, 0),
  2,
  -2,
  -2,
  0,
  0,
  2,
  2,
  0,
  0,
  1,
  9,
  9,
  0,
  0,
  datetime.timedelta(seconds=505),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2009, 7, 11, 0, 0),
  3,
  -1,
  -1,
  0,
  1,
  2,
  3,
  0,
  0,
  1,
  9,
  9,
  1,
  0,
  datetime.timedelta(seconds=539),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2009, 12, 5, 0, 0),
  2,
  -1,
  -2,
  0,
  1,
  2,
  3,
  1,
  0,
  1,
  10,
  10,
  1,
  0,
  datetime.timedelta(seconds=623),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2010, 3, 21, 0, 0),
  3,
  0,
  -1,
  1,
  1,
  2,
  4,
  1,
  0,
  1,
  12,
  12,
  1,
  0,
  datetime.timedelta(seconds=786),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2010, 8, 1, 0, 0),
  4,
  1,
  0,
  2,
  1,
  2,
  5,
  1,
  0,
  1,
  13,
  13,
  1,
  0,
  datetime.timedelta(seconds=840),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2011, 2, 5, 0, 0),
  5,
  2,
  1,
  2,
  2,
  2,
  6,
  1,
  0,
  1,
  15,
  15,
  4,
  0,
  datetime.timedelta(seconds=1102),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2011, 3, 19, 0, 0),
  6,
  3,
  2,
  3,
  2,
  2,
  7,
  1,
  0,
  2,
  18,
  18,
  4,
  0,
  datetime.timedelta(seconds=1572),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2011, 9, 24, 0, 0),
  7,
  4,
  3,
  3,
  3,
  2,
  8,
  1,
  0,
  2,
  20,
  20,
  6,
  0,
  datetime.timedelta(seconds=1784),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2011, 12, 10, 0, 0),
  8,
  5,
  4,
  3,
  4,
  2,
  9,
  1,
  0,
  3,
  21,
  21,
  7,
  0,
  datetime.timedelta(seconds=1871),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2012, 4, 21, 0, 0),
  9,
  4,
  3,
  3,
  4,
  3,
  10,
  1,
  0,
  3,
  22,
  22,
  7,
  0,
  datetime.timedelta(seconds=1931),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2012, 9, 22, 0, 0),
  10,
  5,
  4,
  3,
  5,
  3,
  11,
  1,
  0,
  4,
  23,
  23,
  8,
  0,
  datetime.timedelta(seconds=2496),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2013, 4, 27, 0, 0),
  11,
  6,
  5,
  4,
  5,
  3,
  12,
  1,
  0,
  4,
  26,
  26,
  8,
  0,
  datetime.timedelta(seconds=2742),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2013, 9, 21, 0, 0),
  12,
  5,
  4,
  4,
  5,
  4,
  13,
  1,
  0,
  4,
  27,
  27,
  8,
  0,
  datetime.timedelta(seconds=2801),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2014, 4, 26, 0, 0),
  13,
  4,
  3,
  4,
  5,
  5,
  14,
  1,
  0,
  4,
  30,
  30,
  10,
  0,
  datetime.timedelta(seconds=3152),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2015, 1, 3, 0, 0),
  14,
  3,
  2,
  4,
  5,
  6,
  15,
  1,
  0,
  4,
  33,
  33,
  10,
  0,
  datetime.timedelta(seconds=3562),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2016, 4, 23, 0, 0),
  15,
  2,
  1,
  4,
  5,
  7,
  16,
  1,
  0,
  4,
  36,
  36,
  10,
  0,
  datetime.timedelta(seconds=3797),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2018, 12, 29, 0, 0),
  16,
  3,
  2,
  5,
  5,
  7,
  17,
  1,
  0,
  4,
  37,
  37,
  10,
  0,
  datetime.timedelta(seconds=3886),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2019, 3, 2, 0, 0),
  17,
  2,
  1,
  5,
  5,
  8,
  18,
  1,
  0,
  4,
  40,
  40,
  10,
  0,
  datetime.timedelta(seconds=4665),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2019, 7, 6, 0, 0),
  18,
  1,
  0,
  5,
  5,
  9,
  19,
  1,
  0,
  4,
  40,
  40,
  10,
  0,
  datetime.timedelta(seconds=4665),
  'Light Heavyweight'],
 ['Jon Jones ',
  datetime.datetime(2020, 2, 8, 0, 0),
  19,
  0,
  -1,
  5,
  5,
  10,
  20,
  1,
  0,
  4,
  42,
  42,
  10,
  0,
  datetime.timedelta(seconds=4766),
  'Light Heavyweight']]

In [78]:
def referee_data(data, name):
    # count = [ko, submission, decision, finish score, weight]
    count = [0 for i in range(5)]
    count[4] = 'Unspecified'
    all_data = []
    
    for event in data:
        for fight in event[0]:
            if name == fight[2][4]:
                
                for w in weight[::-1]:
                    if w in fight[2][5]:
                        count[4] = w
                        break

                if count[4] not in weight:
                    count[4] = 'Unspecified'
                    
                if fight[2][1] == 'KO/TKO':
                    count[0] += 1
                    count[3] += 1
                elif fight[2][1] == 'Submission':
                    count[1] += 1
                    count[3] += 1
                else:
                    count[2] += 1
                    count[3] -= 1
            
                data = [name, convert_date(event[1])] + count
                all_data.append(data)
    
    return all_data

In [79]:
all_fight_data = open_data('all_fight_data')
all_f_names = all_fighter_names(all_fight_data)
all_f_data = [fighter_data(all_fight_data, name) for name in all_f_names]
all_f_data = [item for sublist in all_f_data for item in sublist]

all_r_names = all_referee_names(all_fight_data)
all_r_data = [referee_data(all_fight_data, name) for name in all_r_names]
all_r_data = [item for sublist in all_r_data for item in sublist]

In [14]:
structure_r = ["Name", "Date", "KO/TKO", "Submission", "Decision", "Finish score"]
structure_f = ["Name", "Date", "Winlose score","KO/TKO", "Submission", "Decision", "Finish score", "Wins", "Losses", "Draws/NCs",
			   "Knockdowns", "Takedowns Landed", "Takedowns Attempted", "Reversals", "Submission Attempted", "Control Time", "Weight"]

In [15]:
df_r = pd.DataFrame(all_r_data, columns=structure_r)
names = ['Mark Smith', 'Herb Dean']
df_r = df_r[df_r['Name'].isin(names)]

df_r

            Name       Date  KO/TKO  Submission  Decision  Finish score
1340   Herb Dean 2004-04-02       0           0         1            -1
1341   Herb Dean 2004-04-02       1           0         1             0
1342   Herb Dean 2004-06-19       1           1         1             1
1343   Herb Dean 2004-06-19       1           2         1             2
1344   Herb Dean 2004-08-21       2           2         1             3
...          ...        ...     ...         ...       ...           ...
6124  Mark Smith 2022-12-10      93          43       141            -5
6125  Mark Smith 2022-12-10      93          44       141            -4
6126  Mark Smith 2022-12-17      93          44       142            -5
6127  Mark Smith 2022-12-17      94          44       142            -4
6128  Mark Smith 2022-12-17      94          44       143            -5

[1299 rows x 6 columns]

In [27]:
import plotly.express as px

df_f = pd.DataFrame(all_f_data, columns=structure_f)
names = ['Jon Jones ']
df_f = df_f[df_f['Name'].isin(names)]

fig = px.line(df_f, x="Date", y="Control Time", color="Name")
fig.update_layout(showlegend=False)

y