In [1]:
import pickle

import requests
from requests.adapters import HTTPAdapter
from urllib3.util.retry import Retry
from bs4 import BeautifulSoup

import plotly.graph_objects as go

import pandas as pd

from datetime import datetime, timedelta

In [2]:
# All_fight_data = [Events] Ordered from old -> new.
    # Event = [Fights, Date, Venue]
        # Fight = [Fighter1, Fighter2, Result]
            # Fighter1, Fighter2 = [Name, Total, Strikes]
                # Totals = [Total, First, Second, Third, Fourth, Fifth]
                    # Total, First, etc = [Knockdowns, Takedowns, Reversals, Submission Attempted, Control Time]
                        # Takedowns = [Landed, Attempted]
                # Strikes = [Total, First, Second, Third, Fourth, Fifth]
                    # Total, First, etc = [Significant Strikes, Head, Body, Leg, Distance, Clinch, Ground]
                        # Everything = [Landed, Attempted]
            # Result = [Winner, Method, Round, Time, Referee, Weight, Bonus, Details]

In [80]:
save_data(all_f_data, 'all_f_data')
save_data(all_r_data, 'all_r_data')

In [3]:
def open_data(name):
    with open(name, "rb") as fp:
        return pickle.load(fp)

In [4]:
def save_data(data, name):
    with open(name, "wb") as fp:
        pickle.dump(data, fp)

In [5]:
def all_fighter_names(data):
    all_names = []
    for event in data:
        for fight in event[0]:
            if fight[0][0] not in all_names:
                all_names.append(fight[0][0])
                
            if fight[1][0] not in all_names:
                all_names.append(fight[1][0])
    return all_names

In [6]:
def all_referee_names(data):
    all_names = []
    for event in data:
        for fight in event[0]:
            if fight[2][4] not in all_names:
                all_names.append(fight[2][4])
    
    return all_names

In [72]:
def convert_date(date):
    months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    month = date.split(' ')[0]
    month = months.index(month) + 1
    
    day = int(date.split(',')[0].split(' ')[1])
    year = int(date.split(', ')[1])
    date = datetime(year, month, day)
    return date

In [106]:
weight = ["Heavyweight", "Light Heavyweight", "Middleweight", "Welterweight", "Lightweight", "Featherweight", 
          "Bantamweight", "Flyweight", "Women's Bantamweight", "Women's Strawweight", "Women's Flyweight", 
          "Women's Featherweight", "Open Weight", "Super Heavyweight", "Catch Weight"]

def fighter_data(data, name):
# structure_f = ["Name", "Date", "Winlose Score","Finish Score", "Finish Rate", "KO/TKO", "Submission", "Decision", "Wins", "Losses", "Draws/NCs",
# 			   "Knockdowns", "Takedowns Landed", "Takedowns Attempted", "Reversals", "Submission Attempted", "Control Time", "Weight"]

    # count = ["Winlose Score","Finish Score", "Finish Rate", ko, submission, decision, wins, losses, draws, knockdowns, 
    #          takedowns landed, takedowns attempted, reversals, submission attempted, control time, weight]
    count = [0 for i in range(16)]
    # Strikes = [Significant Strikes, Attempted Strikes, Accuracy, Head, Body, Leg, Distance, Clinch, Ground]
    strikes = [0 for i in range(9)]
    count[14] = timedelta()
    count[15] = 'Unspecified'
    
    all_data = []

    
    for event in data:
        for fight in event[0]:
            winner = fight[2][0]

            fighters = [fight[0][0], fight[1][0]]
            if name in fighters:
                index = fighters.index(name)
                
                if fight[index][1] != []:
                    total = fight[index][1][0]
                    
                    if fight[2][1] == 'KO/TKO':
                        count[2] += 1
                    elif fight[2][1] == 'Submission':
                        count[2] += 1
                    else:
                        count[2] -= 1

                    count[9] += total[0]
                    count[10] += total[1][0]
                    count[11] += total[1][0]
                    count[12] += total[2]
                    count[13] += total[3]
                    
                    if total[4] != '--':
                        time = datetime.strptime(total[4], '%M:%S').time()
                    else:
                        time = datetime.strptime('00:00', '%M:%S').time()
                    
                    delta = timedelta(minutes=time.minute, seconds=time.second)
                    count[14] += delta
                    
                    for w in weight[::-1]:
                        if w in fight[2][5]:
                            count[15] = w
                            break
                            
                    if count[15] not in weight:
                        count[15] = 'Unspecified'
                    
                    # Total, First, etc = [Significant Strikes, Head, Body, Leg, Distance, Clinch, Ground]
                        # Everything = [Landed, Attempted]
                    strike_list = [item for sublist in fight[index][2][0] for item in sublist]
                    strikes[0] += strike_list[0]
                    strikes[1] += strike_list[1]
                    if strikes[0] != 0 and strikes[1] != 0:
                        strikes[2] = round(strikes[0]/strikes[1] * 100, 2)
                        
                    strikes[3] += strike_list[2]
                    strikes[4] += strike_list[4]
                    strikes[5] += strike_list[6]
                    strikes[6] += strike_list[8]
                    strikes[7] += strike_list[10]
                    strikes[8] += strike_list[12]

                if fight[winner][0] == name:
                    count[0] += 1
                    count[6] += 1

                    if fight[2][1] == 'KO/TKO':
                        count[3] += 1
                        count[1] += 1
                    elif fight[2][1] == 'Submission':
                        count[4] += 1
                        count[1] += 1
                    else:
                        count[5] += 1
                        count[1] -= 1

                elif winner == 2:
                    count[8] += 1
                else:
                    count[0] -= 1
                    count[7] += 1
                
                data = [name, convert_date(event[1])] + count + strikes
                all_data.append(data)
                
    
    return all_data

fighter_data(all_fight_data, 'Jon Jones ')

[['Jon Jones ',
  datetime.datetime(2008, 8, 9, 0, 0),
  1,
  -1,
  -1,
  0,
  0,
  1,
  1,
  0,
  0,
  0,
  2,
  2,
  0,
  0,
  datetime.timedelta(seconds=256),
  'Light Heavyweight',
  42,
  102,
  41.18,
  25,
  16,
  1,
  13,
  26,
  3],
 ['Jon Jones ',
  datetime.datetime(2009, 1, 31, 0, 0),
  2,
  -2,
  -2,
  0,
  0,
  2,
  2,
  0,
  0,
  1,
  9,
  9,
  0,
  0,
  datetime.timedelta(seconds=505),
  'Light Heavyweight',
  87,
  164,
  53.05,
  49,
  32,
  6,
  26,
  48,
  13],
 ['Jon Jones ',
  datetime.datetime(2009, 7, 11, 0, 0),
  3,
  -1,
  -1,
  0,
  1,
  2,
  3,
  0,
  0,
  1,
  9,
  9,
  1,
  0,
  datetime.timedelta(seconds=539),
  'Light Heavyweight',
  112,
  251,
  44.62,
  60,
  38,
  14,
  50,
  49,
  13],
 ['Jon Jones ',
  datetime.datetime(2009, 12, 5, 0, 0),
  2,
  -1,
  -2,
  0,
  1,
  2,
  3,
  1,
  0,
  1,
  10,
  10,
  1,
  0,
  datetime.timedelta(seconds=623),
  'Light Heavyweight',
  156,
  339,
  46.02,
  93,
  45,
  18,
  59,
  51,
  46],
 ['Jon Jones ',
  datetime.datetime(2010, 3, 21, 0, 0),
  3,
  0,
  -1,
  1,
  1,
  2,
  4,
  1,
  0,
  1,
  12,
  12,
  1,
  0,
  datetime.timedelta(seconds=786),
  'Light Heavyweight',
  167,
  356,
  46.91,
  102,
  46,
  19,
  60,
  52,
  55],
 ['Jon Jones ',
  datetime.datetime(2010, 8, 1, 0, 0),
  4,
  1,
  0,
  2,
  1,
  2,
  5,
  1,
  0,
  1,
  13,
  13,
  1,
  0,
  datetime.timedelta(seconds=840),
  'Light Heavyweight',
  182,
  372,
  48.92,
  114,
  48,
  20,
  63,
  52,
  67],
 ['Jon Jones ',
  datetime.datetime(2011, 2, 5, 0, 0),
  5,
  2,
  1,
  2,
  2,
  2,
  6,
  1,
  0,
  1,
  15,
  15,
  4,
  0,
  datetime.timedelta(seconds=1102),
  'Light Heavyweight',
  202,
  414,
  48.79,
  118,
  58,
  26,
  73,
  52,
  77],
 ['Jon Jones ',
  datetime.datetime(2011, 3, 19, 0, 0),
  6,
  3,
  2,
  3,
  2,
  2,
  7,
  1,
  0,
  2,
  18,
  18,
  4,
  0,
  datetime.timedelta(seconds=1572),
  'Light Heavyweight',
  277,
  527,
  52.56,
  168,
  73,
  36,
  99,
  62,
  116],
 ['Jon Jones ',
  datetime.datetime(2011, 9, 24, 0, 0),
  7,
  4,
  3,
  3,
  3,
  2,
  8,
  1,
  0,
  2,
  20,
  20,
  6,
  0,
  datetime.timedelta(seconds=1784),
  'Light Heavyweight',
  338,
  644,
  52.48,
  186,
  86,
  66,
  141,
  74,
  123],
 ['Jon Jones ',
  datetime.datetime(2011, 12, 10, 0, 0),
  8,
  5,
  4,
  3,
  4,
  2,
  9,
  1,
  0,
  3,
  21,
  21,
  7,
  0,
  datetime.timedelta(seconds=1871),
  'Light Heavyweight',
  362,
  697,
  51.94,
  192,
  92,
  78,
  155,
  81,
  126],
 ['Jon Jones ',
  datetime.datetime(2012, 4, 21, 0, 0),
  9,
  4,
  3,
  3,
  4,
  3,
  10,
  1,
  0,
  3,
  22,
  22,
  7,
  0,
  datetime.timedelta(seconds=1931),
  'Light Heavyweight',
  467,
  911,
  51.26,
  260,
  111,
  96,
  241,
  99,
  127],
 ['Jon Jones ',
  datetime.datetime(2012, 9, 22, 0, 0),
  10,
  5,
  4,
  3,
  5,
  3,
  11,
  1,
  0,
  4,
  23,
  23,
  8,
  0,
  datetime.timedelta(seconds=2496),
  'Light Heavyweight',
  532,
  1021,
  52.11,
  306,
  116,
  110,
  264,
  99,
  169],
 ['Jon Jones ',
  datetime.datetime(2013, 4, 27, 0, 0),
  11,
  6,
  5,
  4,
  5,
  3,
  12,
  1,
  0,
  4,
  26,
  26,
  8,
  0,
  datetime.timedelta(seconds=2742),
  'Light Heavyweight',
  552,
  1048,
  52.67,
  322,
  120,
  110,
  264,
  104,
  184],
 ['Jon Jones ',
  datetime.datetime(2013, 9, 21, 0, 0),
  12,
  5,
  4,
  4,
  5,
  4,
  13,
  1,
  0,
  4,
  27,
  27,
  8,
  0,
  datetime.timedelta(seconds=2801),
  'Light Heavyweight',
  686,
  1265,
  54.23,
  375,
  148,
  163,
  391,
  111,
  184],
 ['Jon Jones ',
  datetime.datetime(2014, 4, 26, 0, 0),
  13,
  4,
  3,
  4,
  5,
  5,
  14,
  1,
  0,
  4,
  30,
  30,
  10,
  0,
  datetime.timedelta(seconds=3152),
  'Light Heavyweight',
  824,
  1501,
  54.9,
  463,
  173,
  188,
  490,
  148,
  186],
 ['Jon Jones ',
  datetime.datetime(2015, 1, 3, 0, 0),
  14,
  3,
  2,
  4,
  5,
  6,
  15,
  1,
  0,
  4,
  33,
  33,
  10,
  0,
  datetime.timedelta(seconds=3562),
  'Light Heavyweight',
  916,
  1679,
  54.56,
  506,
  207,
  203,
  541,
  188,
  187],
 ['Jon Jones ',
  datetime.datetime(2016, 4, 23, 0, 0),
  15,
  2,
  1,
  4,
  5,
  7,
  16,
  1,
  0,
  4,
  36,
  36,
  10,
  0,
  datetime.timedelta(seconds=3797),
  'Light Heavyweight',
  1021,
  1836,
  55.61,
  541,
  231,
  249,
  617,
  199,
  205],
 ['Jon Jones ',
  datetime.datetime(2018, 12, 29, 0, 0),
  16,
  3,
  2,
  5,
  5,
  7,
  17,
  1,
  0,
  4,
  37,
  37,
  10,
  0,
  datetime.timedelta(seconds=3886),
  'Light Heavyweight',
  1080,
  1938,
  55.73,
  567,
  246,
  267,
  657,
  206,
  217],
 ['Jon Jones ',
  datetime.datetime(2019, 3, 2, 0, 0),
  17,
  2,
  1,
  5,
  5,
  8,
  18,
  1,
  0,
  4,
  40,
  40,
  10,
  0,
  datetime.timedelta(seconds=4665),
  'Light Heavyweight',
  1205,
  2105,
  57.24,
  612,
  281,
  312,
  721,
  237,
  247],
 ['Jon Jones ',
  datetime.datetime(2019, 7, 6, 0, 0),
  18,
  1,
  0,
  5,
  5,
  9,
  19,
  1,
  0,
  4,
  40,
  40,
  10,
  0,
  datetime.timedelta(seconds=4665),
  'Light Heavyweight',
  1264,
  2195,
  57.59,
  623,
  297,
  344,
  776,
  241,
  247],
 ['Jon Jones ',
  datetime.datetime(2020, 2, 8, 0, 0),
  19,
  0,
  -1,
  5,
  5,
  10,
  20,
  1,
  0,
  4,
  42,
  42,
  10,
  0,
  datetime.timedelta(seconds=4766),
  'Light Heavyweight',
  1368,
  2361,
  57.94,
  654,
  327,
  387,
  877,
  244,
  247]]

In [78]:
def referee_data(data, name):
    # count = [ko, submission, decision, finish score, weight]
    count = [0 for i in range(5)]
    count[4] = 'Unspecified'
    all_data = []
    
    for event in data:
        for fight in event[0]:
            if name == fight[2][4]:
                
                for w in weight[::-1]:
                    if w in fight[2][5]:
                        count[4] = w
                        break

                if count[4] not in weight:
                    count[4] = 'Unspecified'
                    
                if fight[2][1] == 'KO/TKO':
                    count[0] += 1
                    count[3] += 1
                elif fight[2][1] == 'Submission':
                    count[1] += 1
                    count[3] += 1
                else:
                    count[2] += 1
                    count[3] -= 1
            
                data = [name, convert_date(event[1])] + count
                all_data.append(data)
    
    return all_data

In [107]:
all_fight_data = open_data('all_fight_data')
all_f_names = all_fighter_names(all_fight_data)
all_f_data = [fighter_data(all_fight_data, name) for name in all_f_names]
all_f_data = [item for sublist in all_f_data for item in sublist]

all_r_names = all_referee_names(all_fight_data)
all_r_data = [referee_data(all_fight_data, name) for name in all_r_names]
all_r_data = [item for sublist in all_r_data for item in sublist]

In [14]:
structure_r = ["Name", "Date", "KO/TKO", "Submission", "Decision", "Finish score"]
structure_f = ["Name", "Date", "Winlose score","KO/TKO", "Submission", "Decision", "Finish score", "Wins", "Losses", "Draws/NCs",
			   "Knockdowns", "Takedowns Landed", "Takedowns Attempted", "Reversals", "Submission Attempted", "Control Time", "Weight"]

In [15]:
df_r = pd.DataFrame(all_r_data, columns=structure_r)
names = ['Mark Smith', 'Herb Dean']
df_r = df_r[df_r['Name'].isin(names)]

df_r

            Name       Date  KO/TKO  Submission  Decision  Finish score
1340   Herb Dean 2004-04-02       0           0         1            -1
1341   Herb Dean 2004-04-02       1           0         1             0
1342   Herb Dean 2004-06-19       1           1         1             1
1343   Herb Dean 2004-06-19       1           2         1             2
1344   Herb Dean 2004-08-21       2           2         1             3
...          ...        ...     ...         ...       ...           ...
6124  Mark Smith 2022-12-10      93          43       141            -5
6125  Mark Smith 2022-12-10      93          44       141            -4
6126  Mark Smith 2022-12-17      93          44       142            -5
6127  Mark Smith 2022-12-17      94          44       142            -4
6128  Mark Smith 2022-12-17      94          44       143            -5

[1299 rows x 6 columns]

In [83]:
import plotly.express as px

df_f = pd.DataFrame(all_f_data, columns=structure_f)
names = ['Jon Jones ']
df_f = df_f[df_f['Name'].isin(names)]

fig = px.line(df_f, x="Date", y="Control Time", color="Name")
fig.update_layout(showlegend=False)

ValueError: 16 columns passed, passed data had 18 columns

In [99]:
round(5.344534, 2)

5.34